#aside {
    height: auto;
    width: 25%;
    padding: 20px;
    position: fixed;
    top: 58px;
    right: 5px;
    z-index: 10;
}

.main {
    /* Increased text to enable scrolling */
    padding: 0px 10px;
    width: 75%;
    overflow: hidden;
}

.container-cart {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}


/* .cadre-body {
    background-color: rgb(208, 201, 201);
} */