{% extends 'base.html.twig' %}

{% block title %}New Image{% endblock %}

{% block body %}
    <h1>Ajouter une nouvelle image</h1>

    {{ include('image/_form.html.twig') }}

    <a href="{{ path('app_image_index') }}">Retoure à la liste</a>
{% endblock %}
