{% extends 'bien/maintenance.html.twig' %}
{% block body %}
	<main id="main">
		<h1>Edit Appointement</h1>

		{{ include('appointement/_form.html.twig', {'button_label': 'Update'}) }}

		<a href="{{ path('maintenance', {'maintenance':'RDV'}) }}">retour à la liste</a>

	</main>
{% endblock %}
