{% extends 'bien/maintenance.html.twig' %}

{% block title %}Nouvelle Option{% endblock %}

{% block body %}
<main id='main'>
    <h1>Ajouter une option</h1>

    {{ include('option/_form.html.twig') }}

    <a href="{{ path('maintenance') }}">Retour à la liste </a>
</main>
{% endblock %}
