{% extends 'base.html.twig' %}

{% block title %}Edit Bien{% endblock %}

{% block body %}
    <h1>Modifier le bien</h1>

    {{ include('bien/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('index') }}">Accueil</a>

    {{ include('bien/_delete_form.html.twig') }}
{% endblock %}
