{% extends '/bien/maintenance.html.twig' %}


{% block body %}
<main id='main'>
    <h1>Modifier un utilisateur</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('maintenance',{'maintenance':'user'}) }}">Retour à la liste</a>
    </main>
{% endblock %}
